{% extends 'layout.html' %}
{% block body %}

<h3 class="title">Keithley 2400/2450 Sourcemeter Interface</h3>

<h4>List of resources</h4>
<h5>{{ list }}</h5>

<form action = "/" method = "post">

    <div class = "form-group">
        <input type = "text" name = "TCPIP" id = "TCPIP" value = {{TCPIP}}>
        <label for = "TCPIP">TCPIP</label>
    </div>

    <div class = "form-group">
        <input type = number name = "current" id = "current" value = 0>
        <label for = "current">New current value (mA)</label>
    </div>

    <button class="btn btn-primary" type="submit">Set new value</button>
</form>

<!-- chart-->
<div style="width: 800px; height: 400px;">
<canvas id="myChart"></canvas>
</div>

<!-- download csv button -->
<a href = "/save">
    <button type="button">Download CSV</button>
</a>

<!-- script to make chart auto refresh -->
<script>
const ctx = document.getElementById('myChart').getContext('2d');

const chart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [],
        datasets: [{
            label: 'Measured Value',
            data: [],
            borderColor: 'purple',
            fill: false
        }]
    },
    options: {
        animation: false,
        scales: {
            x: { title: { display: true, text: 'Time (s)' }},
            y: { title: { display: true, text: 'Value' }}
        }
    }
});

async function loadHistory() {
    const response = await fetch('/history');
    const history = await response.json();

    console.log("HISTORY RAW:", history);

    chart.data.labels = history.map(p => Number(p.time).toFixed(1));
    chart.data.datasets[0].data = history.map(p => Number(p.current));

    chart.update();
}

async function fetchData() {
    const response = await fetch('/data');
    const data = await response.json();

    chart.data.labels.push(data.time.toFixed(1));
    chart.data.datasets[0].data.push(data.current);

    chart.update("none");
}

loadHistory().then(() => {
    setInterval(fetchData, 1000);
});

</script>

{% endblock %}